@model HelloWebApi2018.Models.Person

<div>
    <label>
        First Name:
    </label>
    @Model.FirstName
</div>

<div>
    <label>
        Last Name:
    </label>
    @Model.LastName
</div>


<div>
    <label>
        DOB:
    </label>
    @Model.Dob
</div>
<script src="~/js/Car.js"></script>